.submit {
  composes: submit from "../styles/utility.module.css";
  margin: 8px;
  width: 100%;
}

.input {
  composes: input from "../styles/utility.module.css";
  margin-bottom: 2px;
}

.joinGame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  justify-self: center;
  align-self: center;
}

.content {
  display: grid;
  justify-items: center;
  align-items: center;
}

.inputError {
  composes: input;
  border-color: var(--light-red);
}

.errorMessage {
  color: var(--light-red);
}
