.submit {
  composes: submit from "../styles/utility.module.css";
  margin: 8px;
}

.input {
  composes: input from "../styles/utility.module.css";
  margin-bottom: 2px;
}

.inputError {
  composes: input;
  border-color: var(--light-red);
}

.errorMessage {
  color: var(--light-red);
}
