:root {
  --blue: #009ddc;
  --light-blue: #6bbbdb;
  --dark-blue: #004c6b;
  --red: #c3423f;
  --light-red: #dd5f5d;
  --dark-red: #6d2726;
  --tan: #c5afa4;
  --dark-tan: #695f5a;
  --grey: #c4c4c4;
  --dark-grey: #757575;
  --black: #3b3b3b;
}

.banner {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}

.tile {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "team info";
  text-transform: capitalize;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.blueTile {
  composes: tile;
  background-color: var(--light-blue);
}

.redTile {
  composes: tile;
  background-color: var(--light-red);
}

.teamLabel {
  justify-self: center;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  margin: 10px;
}

.blueTeamLabel {
  composes: teamLabel;
  background-color: var(--blue);
}

.redTeamLabel {
  composes: teamLabel;
  background-color: var(--red);
}

.playerIcon {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 20%;
  border: solid;
  position: relative;
  display: grid;
  z-index: 1;
  margin-top: -5px;
}

.bluePlayerIcon {
  composes: playerIcon;
  background-color: var(--blue);
  border-color: var(--dark-blue);
}
.redPlayerIcon {
  composes: playerIcon;
  background-color: var(--red);
  border-color: var(--dark-red);
}

.vote {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  border: solid;
  position: relative;
  z-index: 1;
  margin: 5px;
  display: inline-block;
}

.blink {
  animation: blink-animation 0.7s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blueVote {
  composes: vote;
  background-color: var(--light-blue);
  border-color: var(--dark-blue);
}

.redVote {
  composes: vote;
  background-color: var(--light-red);
  border-color: var(--dark-red);
}

.badge {
  width: 25px;
  opacity: 0.5;
  justify-self: center;
  align-self: center;
  fill: white;
}

.tracker {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 0% 100%;
}

.tracker > h4 {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.blueHeader {
  background-color: var(--light-blue);
}

.redHeader {
  background-color: var(--light-red);
}

.lightLabel {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.24),
    0 1px 3px rgba(255, 255, 255, 0.36);
  text-align: center;
  word-wrap: break-word;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, minmax(20%, 1fr));
  grid-template-rows: repeat(5, minmax(10%, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  padding-right: 50px;
  background-image: url("../assets/BookCover.svg");
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: contain;
  width: 100%;
  padding: 1% 7% 9% 3%;
}

.wordTile {
  transition: transform 1s;
}

.wordTile:hover {
  filter: brightness(110%);
}

.eventWindow {
  background: #f0f3f6;
  margin: 10px;
  padding: 15px;
  border: solid 1px #ddd;
  border-radius: 4px;
  font-family: monospace;
}

.eventWindow > h6 {
  text-transform: uppercase;
}

/* Eye icon styles */

.reveal {
  width: 100%;
  opacity: 0.5;
}

.redReveal {
  text-align: center;
  composes: reveal;
  fill: var(--dark-red);
}

.blueReveal {
  text-align: center;
  composes: reveal;
  fill: var(--dark-blue);
}
.neutralReveal {
  text-align: center;
  composes: reveal;
  fill: var(--dark-tan);
}

.blackReveal {
  text-align: center;
  composes: reveal;
  fill: white;
}

/* Centering absolute positioned items */

.center {
  text-align: center;
  word-wrap: break-word;
}

.absoluteCenter {
  composes: center;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  margin-top: -20%;
  margin-left: -40%;
  z-index: 100;
}

.tileContainer {
  position: relative;
}

/* Tile outer styles */

.neutralTileOuter polygon {
  fill: var(--dark-tan);
}

.redTileOuter polygon {
  fill: var(--dark-red);
}

.blueTileOuter polygon {
  fill: var(--dark-blue);
}

.blackTileOuter polygon {
  fill: var(--black);
}

.greyTileOuter polygon {
  fill: var(--dark-grey);
}

/* Tile inner styles */
.tileInner {
  position: absolute;
  width: 90%;
  z-index: 10;
  left: 5%;
  top: 5%;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.redTileInner {
  composes: tileInner;
}

.redTileInner polygon {
  fill: var(--red);
}

.blueTileInner {
  composes: tileInner;
}

.blueTileInner polygon {
  fill: var(--blue);
}

.neutralTileInner {
  composes: tileInner;
}

.neutralTileInner polygon {
  fill: var(--tan);
}

.greyTileInner {
  composes: tileInner;
}

.greyTileInner polygon {
  fill: var(--grey);
}

.blackTileInner {
  composes: tileInner;
}

.blackTileInner polygon {
  fill: var(--dark-grey);
}
