.red {
  composes: redColor from "../styles/utility.module.css";
}

.blue {
  composes: blueColor from "../styles/utility.module.css";
}

.button {
  composes: button from "../styles/utility.module.css";
}

.submit {
  composes: submit from "../styles/utility.module.css";
}

.delete {
  composes: cancel from "../styles/utility.module.css";
}
