.red {
  composes: redColor from "../styles/utility.module.css";
}

.blue {
  composes: blueColor from "../styles/utility.module.css";
}

.button {
  composes: button from "../styles/utility.module.css";
}

.submit {
  composes: submit from "../styles/utility.module.css";
}

.delete {
  composes: cancel from "../styles/utility.module.css";
}

.input {
  composes: input from "../styles/utility.module.css";
  width: 97%;
}

.playerLists {
  display: grid;
  grid-template-columns: 50% 50%;
}

.list {
  width: 100%;
}

.lobbyBody {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 10px 10%;
  grid-template-areas: "main chat";
}

.lobbyHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 10px;
}

.main {
  grid-area: main;
}

.chat {
  grid-area: chat;
  display: grid;
  grid-template-areas:
    "messages"
    "chatInput";
}

.eventWindow {
  composes: eventWindow from "../styles/utility.module.css";
  grid-area: messages;
}

.chatInput {
  grid-area: chatInput;
}

@media (max-width: 1199.98px) {
  .lobbyBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "main"
      "chat";
    grid-row-gap: 10px;
    margin: 10px 8%;
  }

  .chat {
    grid-template-areas:
      "chatInput"
      "messages";
  }

  .eventWindow {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  .lobbyBody {
    margin: 10px 6%;
  }
}

@media (max-width: 767.98px) {
  .lobbyHeader {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
  }

  .lobbyBody {
    margin: 10px 4%;
  }

  .playerLists {
    grid-template-columns: 100%;
    grid-row-gap: 10px;
  }
}

@media (max-width: 575.98px) {
  .lobbyBody {
    margin: 10px 15px;
  }
}
