:root {
  --blue: #009ddc;
  --light-blue: #6bbbdb;
  --dark-blue: #004c6b;
  --red: #c3423f;
  --light-red: #dd5f5d;
  --dark-red: #6d2726;
  --tan: #c5afa4;
  --dark-tan: #695f5a;
  --grey: #c4c4c4;
  --dark-grey: #757575;
  --black: #3b3b3b;
}

.tileLabel {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.24),
    0 1px 3px rgba(255, 255, 255, 0.36);
}

.icon {
  opacity: 0.8;
  fill: white;
  width: 20px;
  z-index: 200;
}

.button {
  composes: button from "../styles/utility.module.css";
}

.leave {
  composes: cancel from "../styles/utility.module.css";
}

.container {
  border-radius: 3px;
  margin: 15px 5px 15px 5px;
  padding: 10px;
  min-height: 150px;
  display: grid;
  grid-template-columns: 28% 28% 44%;
  grid-template-rows: 1.5rem 1fr 1fr;
  grid-template-areas:
    "name name character "
    "select select character"
    "buttons buttons character";
}

.blueTile {
  composes: container;
  background-color: var(--blue);
  box-shadow: 0 6px var(--dark-blue);
  background-image: url("../assets/BlueTeamPattern.svg");
  background-size: 120%;
}

.redTile {
  composes: container;
  background-color: var(--red);
  box-shadow: 0 6px var(--dark-red);
  background-image: url("../assets/RedTeamPattern.svg");
  background-size: 120%;
}

.character {
  grid-area: character;
  display: grid;
  width: 100%;
  justify-items: end;
}

.name {
  grid-area: name;
  width: 100%;
}

.select {
  grid-area: select;
  margin-top: 10px;
}

.select select {
  cursor: pointer;
  border: 2px solid var(--grey);
  padding: 5px;
  border-radius: 5px;
}

.buttons {
  grid-area: buttons;
}

.upperCase {
  text-transform: uppercase;
}
